/* CSS Document */

.icon-48-dbconnect{
  background: url('../images/dbconnect_icon.png') 0 0 no-repeat;
}

.actionsTd a{
  display: inline-block;
  border: 1px solid gray ;
  padding: 1px ;
  text-decoration: none !important;
  background-color: rgb(255,255,204);
  color: gray;
}
.actionsTd a:hover{
  background-color: gray;
  color: white;
}