/*
    Author: Daniel Stastny 2009
    {daniel.stastny@gmail.com}
    
    CSS style for BKEF - Mutual Influences HTML output
*/


div#content {
  overflow-x: scroll;
  padding-bottom: 10px;
}

div#content form{
  margin: 0px;  
  padding: 0px;
}

/* MAIN OPTIONS */
body {
background-color: #F7F4F4;
color : #000; 
font-style : normal;
padding:2px 2em;
margin:0px;
line-height:1.5em;
font-size:80%;
}

/*header*/
#header {
background : transparent;
margin:20px 4px 0px;
padding:5px 10px;
}
#header h1{
padding:0px;
font-size:2.6em;

display:inline;
font-weight: normal;
}
#header p {
padding:0px;
margin:2px 10px;
font-size:1.1em;
display:inline;
}

/* The body of the main visible part */
#content{
background-color: white;
min-width: 5em; 
margin:5px;
padding:0px;
text-align:left;
border: 1px solid #ccc;
}

/*
"Foldable" navigation box
- contains CSS Hacks for various web browsers to ensure level of opacity
*/
#navigation{
position: fixed;
top: .8em;
right: 2em;
text-align: left;
font-size: 1em;
background-color: white;
padding: 0 7px 0 7px;
border: 4px solid #E0E0E0;
filter:alpha(opacity=80);
	-moz-opacity:0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}

#navigation ul.nav li {
list-style-type: square;
}

/* Box of particular metaattribute */
.metaAttributeBox{
background-color: #F6F6F6;
padding: 5px 20px 5px 20px;
border: 1px dashed silver;
margin: 0 0 20px 0;
}

/* Box within meta-attribute box to show formatting of a meta-attribute */
.formatsBox{
padding: 5px 20px 5px 20px;
margin: 0 0 20px 0;
border-top: 1px solid silver;
border-bottom: 1px solid silver;
}

.formatBox{
background-color: #E0E0E0;
padding: 5px 20px 5px 20px;
margin: 0 0 20px 0;
}

.formatBox ul {
margin: 0 0 0 20px;
}

.formatBox h5, h6 {
border-bottom: 1px dotted black;
}

.formatBox table {
border-collapse: collapse;
}

.formatBox table tr td {
border: 1px dotted #909090;
}

.folding{
cursor: pointer;
border: 1px solid black;
padding: 0 4px 0 4px;
font-weight: normal;
font-family: sans-serif;
}

.folding:hover{
background-color: silver;
}

.hidden{
display: none;
}

.item{
color: brown;
}

.formattingTable td{
vertical-align: top;
text-align:left;
border: none;
}

.formattingTable td ul{
padding: 0 0 0 5px;
}

/* bin */
.bin {
border: 1px dotted gray;
margin: 5px 0 5px 0;
padding: 0 1em 0 1em;
}

.restrictionBin {
border: 1px dotted gray;
margin: 0 0 5px 0;
padding: 0 10px 0 15px;
font-size: 10px;
}

.bin ul {
margin: 0;
}

.bin p {
margin: 0;
}

/*tables*/
table.matrix {
color : #111; 
width: auto;
margin: 20px auto;
border-collapse: collapse;
padding: 0px;
font-size: 12px;
background-color: white;
}
caption {
color: #333;
font-weight: normal;
padding: 5px;
}
td, th, tr {
padding: 5px;
text-align:left;
min-width: 80px;
min-height: 80px;
}

table.matrix td {
border: 1px dotted #909090;
width: 65px;
text-align: center;
height: 65px;
margin: 0;
vertical-align: middle;
}

.low {
height: 10px;
}

.attr {
background-color: #F7F4F4;
}
    /*
div#content td {
border: 1px solid black;
} */

/*linkcolor*/
/*
a:link, a:visited {
font-weight:normal;
color : #600;
text-decoration : underline; 

}
a:hover, a:active {
color : #666; 
text-decoration : underline;
background-color: #D2D2D2;
border:none;
} 
*/
/*font styles*/
p {
font-size : 1em; 
font-style : normal; 
padding: 0px;
}             /*
h2 {
font-size : 2em;
border-bottom: 1px solid #ccc;
font-weight: normal;
}
h3 {
font-size:1.5em;
font-weight: normal;
font-family: sans-serif;
}
h4 {
font-size:1.2em;
font-family: sans-serif;
color : #333; 
margin: 2px 0px 2px 1px;
padding: 1px 0px 1px 1px;
clear: both;
}

h5 {
font-size:1.1em;
font-family: sans-serif;
color : #333; 
margin: 4px 0px 4px 1px;
padding: 1px 0px 1px 1px;
clear: both;
}

h6{
font-size: 1em;
font-family: sans-serif;
color : #333;
margin: 10px 0px 6px 1px;
padding: 1px 0px 1px 1px;
clear: both;
}                  

h2, h3, h1{
font-family :Georgia,'Trebuchet MS', 'Lucida Sans',  'Lucida Grande', 'Bitstream Sans Vera', 
		Verdana, Arial, Tahoma, Helvetica, Sans-Serif; 
color : #333; 
margin: 10px 0px;
padding:2px 0px;
clear: both;
}
                   */
.cannotMatch {
    background-color: #D2D2D2;
}

.displayNone {
    display: none;
}

#BKEF_mainObject {
font-size:small;
position: absolute;
top: 0; left: 0;
border: 3px solid silver;
padding: 10px;
background-color: white;
color: #000;
text-align: left;
}

#BKEF_mainObject img{
border: 2px solid white;
}

#BKEF_mainObject td {
border: 1px dotted #909090;
width: 65px;
text-align: center;
height: 65px;
margin: 0;
vertical-align: middle;
}

a.about:link, a.about:visited {
text-decoration : none; 
background: none;
}

a.about:active {
text-decoration : none;
background: none;
border:none;
} 

.left {
    text-align: left;
}

.interval {
font-weight: normal;
margin: 0 0 -5px 20px;
}

.annotations table tr td ul {
margin: 0;
padding: 0;
}

.topIndent {
padding: 7px 0 0 0;
margin-bottom: -5px;
}
