/* to be refenced from main joomla template */
div.kbincludediv {
	border: 1px dotted darkred !important;
	padding: 25px 0 10px 0;
	position: relative;
}

div.kbincludetitle {
	font-weight: bold;
	left: 5px;
	position: absolute;
	top: 0;
	/* display:none; */
}
