@using LMWrapper.ODBC
@using SewebarConnect
@{
	ViewBag.Title = "Console";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Header{
<script type="text/javascript" src="@Url.Content("~/Scripts/console.js")"></script>
}

<h1>Sewebar Debug Console</h1>

<h2>Registration</h2>
<form action="#" class="console">
<fieldset class="reg">
	<label for="reg_type">Database Type</label>
	<select name="reg_type" id="reg_type">
		<option value="MySQLConnection">MySQL</option>
		<option value="AccessConnection" selected="selected">Access</option>
	</select>
	<br/>
	<label for="reg_metabase">Metabase</label>
	<input type="text" id="reg_metabase" name="reg_metabase"/>
	<br/>
	<label for="reg_server">Server</label>
	<input type="text" id="reg_server" name="reg_server"/>
	<br/>
	<label for="reg_database">Database</label>
	<input type="text" id="reg_database" name="reg_database"/>
	<br/>
	<label for="reg_username">Username</label>
	<input type="text" id="reg_username" name="reg_username"/>
	<br/>
	<label for="reg_password">Password</label>
	<input type="password" id="reg_password" name="reg_password"/>
	<br/>
</fieldset>
<fieldset class="output">
	<legend>Response</legend>
	<textarea name="reg_response" id="reg_response" rows="10" cols="80"></textarea>
</fieldset>
<div class="buttons">
	<button name="reg">Register</button>
</div>
</form>

<h2>Import DataDictionary</h2>
<form action="#" class="console">
<fieldset class="id">
	<legend>LM ID</legend>
	<input type="text" value="" name="import_id" id="import_id" size="32" />
</fieldset>
<fieldset>
	<legend>DataDictionary</legend>
	<textarea name="import_request" id="import_request" rows="20" cols="80"></textarea>
</fieldset>
<fieldset class="output">
	<legend>Response</legend>
	<textarea name="import_response" id="import_response" rows="20" cols="80"></textarea>
</fieldset>
<div class="buttons">
	<button name="import">Import</button>
</div>
</form>

<h2>Tasks</h2>
<form action="#" class="console">
	<fieldset class="id">
		<label for="task_id">LM ID</label>
		<input type="text" value="" name="task_id" id="task_id" size="32" />
		&nbsp;
		<label for="task_alias">Alias (used for import task)</label>
		<input type="text" value="" name="task_alias" id="task_alias" size="32" />
		&nbsp;
		<label for="task_template">Template (used for exporting task results)</label>
		<input type="text" value="" name="task_template" id="task_template" size="32" />
	</fieldset>

	<fieldset>
		<legend>Task Definition</legend>
		<textarea name="task_request" id="task_request" rows="20" cols="80"></textarea>
	</fieldset>
	<fieldset class="output">
		<legend>Response</legend>
		<textarea name="task_response" id="task_response" rows="20" cols="80"></textarea>
	</fieldset>
	<div class="buttons">
		<button name="task_pool">Task Pooler</button>
		<button name="proc_pool">Proc Pooler</button>
		<button name="grid_pool">Grid Pooler</button>
	</div>
</form>

<h2>Tasks Cancel</h2>
<form action="#" class="console">
<fieldset class="id">
	<label for="cancel_id">LM ID</label>
	<input type="text" value="" name="cancel_id" id="cancel_id" size="32" />
	&nbsp;
	<label for="cancel_task">Task to cancel</label>
	<input type="text" value="" name="cancel_task" id="cancel_task" size="32" />
</fieldset>

<fieldset>
	<legend>&nbsp;</legend>
	<textarea rows="20" cols="80" disabled="disabled"></textarea>
</fieldset>
<fieldset class="output">
	<legend>Response</legend>
	<textarea name="cancel_response" id="cancel_response" rows="20" cols="80"></textarea>
</fieldset>
<div class="buttons">
	<button name="task_pool_cancel">Cancel in Task Pooler</button>
	<button name="proc_pool_cancel">Cancel in Proc Pooler</button>
	<button name="grid_pool_cancel">Cancel in Grid Pooler</button>
</div>
</form>

<h2>Exporter</h2>
<form action="#" class="console">
<fieldset class="id">
	<legend>LM ID</legend>
	<input type="text" value="" name="export_id" id="export_id" size="32" />
	&nbsp;
	<label for="export_template">Matrix (MatrixName to export)</label>
	<input type="text" value="" name="export_matrix" id="export_matrix" size="32" />
	&nbsp;
	<label for="export_template">Template (used for exporting task results)</label>
	<input type="text" value="" name="export_template" id="export_template" size="64" />
</fieldset>
<fieldset>
	<legend>Task (optional)</legend>
	<textarea name="export_request" id="export_request" rows="20" cols="80" disabled="disabled"></textarea>
</fieldset>
<fieldset class="output">
	<legend>Response</legend>
	<textarea name="export_response" id="export_response" rows="20" cols="80"></textarea>
</fieldset>
<div class="buttons">
	<button name="export">Export</button>
</div>
</form>
