@model SewebarConnect.SVNDataAttribute

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>SEWEBAR Connect</h1>
<p>For testing you can use <a href="@Url.Action("Index", "Console")">testing console</a>.</p>
<p><a href="@Url.Action("Miners", "Application")">Application status</a>.</p>

<h2>API</h2>
<p>For full RESTful API documentation see <a href="http://docs.sewebarconnect.apiary.io/">http://docs.sewebarconnect.apiary.io/</a>.</p>
<p>Common scenario is:</p>
<ol>
	<li>Create new LISp-Miner registration</li>	
	<li>Import DataDictionary</li>
	<li>Run custom tasks</li>
	<li>PROFIT!!!</li>
</ol>

<h2>Exceptions</h2>
<p>In case of failured execution the response contains in header status code <em>500 Internal Server Error</em> and body:</p>
<code>
	&lt;response status="failure"&gt;&lt;message&gt;{Exception message}&lt;/message&gt;&lt;/response&gt;
</code>

<h2>Version</h2>
Build from revision @Model.WCREV at @Model.WCNOW.