body{
    background-color: #dde2ff !important;
}

#main{
    height: 100%;
    width: 100%;
    background-color: #dde2ff;
    font-size: 14px;
    font-family: arial;
    color: black;
    margin: 0px;
    padding: 0px;
}

#left{
    position: relative;
    background-color: #dde2ff;
    float: left;
}

#right{
    height: 400px;
    position: relative;
    background-color: #dde2ff;
    padding: 5px;
}

.booleans{
    height: 100%;
    margin: 4px;
    text-align: left;
    position: relative;
    float: left;
}

.boolean{
    background-color: #edf0ff;
    cursor: pointer;
    margin: 2px;
    padding: 1px;
    width: 130px;
    z-index: 5;
    position: relative;
    font-size: 14px;
    font-family: Georgia,'Times New Roman',times,serif;
}

#rightDivHits .boolean {
	width: 45px;
	font-size: 10px;
	font-family: Verdana;
}

.additionalInfo{
    font-style: italic;
}

.operators{
    height: 100%;
    margin: 4px;
    text-align: left;
    position: relative;
    float: left;
}

.operator{
    background-color: #fcedff;
    cursor: pointer;
    padding: 1px;
    margin: 2px;
    width: 130px;
    z-index: 5;
    position: relative;
    font-size: 14px;
    font-family: Georgia,'Times New Roman',times,serif;
}

#rightDivHits .operator {
	width: 170px;
	font-size: 10px;
	font-family: Verdana;
}

.attributes{
    height: 100%;
    margin: 4px;
    text-align: left;
    position: relative;
    float: left;
}

.attribute{
    background-color: #f3ffed;
    cursor: pointer;
    padding: 1px;
    margin: 2px;
    width: 130px;
    z-index: 5;
    position: relative;
    font-size: 14px;
    font-family: Georgia,'Times New Roman',times,serif;
}

#rightDivHits .attribute {
	width: 130px;
	font-size: 10px;
	font-family: Verdana;
}

.ARElement{
    width: 140px;
    height: 25px;
    border: inset 2px black;
    position: relative;
    float: left;
    margin-right: 2px;
    text-align: center;
    background-color: white;
}

#rightDivHits .ARElement {
	width: auto;
	min-width: 50px;
}

.beginningNumber{
    position: relative;
    float: left;
    vertical-align: middle;
    text-align: center;
    font-size: 16px;
    height:25px;
    margin-right: 2px;
    padding-top: 4px;
}

.askingWindow{
    position: absolute;
    z-index: 9;
    background-color: white;
    left: 200px;
    top: 100px;
    border: 2px solid black;
    width: 400px;
    height: 250px;
    text-align: center;
}

.assocRule{
    width: 100%;
    height: 100px;
}

#createRuleButton{
    border: 2px;
    border-style: outset;
    border-color: #336398;
    background-color: #d8eaff;
    cursor: pointer;
    padding: 2px;
    margin: 2px;
    width: 100px;
    height: 20px;
    text-align: center;
}

#saveRule{
    border: 2px;
    border-style: outset;
    border-color: #336398;
    background-color: #d8eaff;
    cursor: pointer;
    padding: 2px;
    margin: 2px;
    width: 100px;
    height: 20px;
    text-align: center;
    display: none;
}

.buttons{
    border: 2px;
    border-style: outset;
    border-color: #336398;
    background-color: #d8eaff;
    cursor: pointer;
    padding: 2px;
    margin: auto;
    margin-top: 5px;
    width: 100px;
    height: 20px;
    position: relative;
    text-align: center;
}

.tableHeader{
    text-align: center;
    font-weight: bold;
}

.newRule{
    
}

#getHits{
	display: none;
}

.fieldExpression{
    font-style: italic;
}

.topDivAW{
    font-weight: bold;
}

.headersLeft{
    position: relative;
    color: black;
    font-weight: bold;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.operatorsSmall{
    margin: 4px 0;
    text-align: left;
    position: relative;
    float: left;
}

.attributesSmall{
    margin: 4px 0;
    text-align: left;
    position: relative;
    float: left;
}

.booleansSmall{
    width: 95%;
    height: 100%;
    margin: 4px;
    text-align: left;
    position: relative;
    float: left;
}

#rightDivButton{
    width: 10%;
    height: 100%;
    position: relative;
    float: right;
}

#rightDivPlace{
    width: 90%;
    height: 50%;
    overflow: auto;
    position: relative;
    float: left;
}

#buttonPlaceDown{
	bottom:35px;
	float:right;
	position:absolute;
	right:3px;
	width:111px;
}

.saveWhole{
    
}


#hitsHeader { }

#hitsHeader #hitsLabel { position: relative; top: 20px; }

#hitsHeader #hitsLabel img { width: 15px; }

#hitsHeader #hitsLabel span { width: 15px; display: block; float: left; background-image: url('loading.gif'); background-repeat: no-repeat; padding-right: 5px; }

#hitsHeader #limitHits { float: left; position: relative; left: 500px; }

#hitsHeader #limitHits label {}

#hitsHeader #limitHits input[type="text"] { width: 50px; }

#hitsHeader #limitHits input[type="submit"] {}

#rightDivHits{
    width: 850px;
    height: 50%;
    background-color: #EEEEEE;
    clear: left;
    float: left;
    overflow-y: scroll;
    overflow-x: hidden;
}

#rightDivHits label { clear: left; float: left; margin-top: 30px; }

#tableAsking{
    width: 95%;
    border: 1px solid black;
    margin: 5px auto;
}

#selectAsking{
    margin-top: 5px;
    margin-bottom: 5px;
}

.operatorAskingContent{
    margin: 5px auto;
}

#infoAskingChoices{
    margin: 5px auto;
    border-bottom: 1px solid black;
    padding: 10px;
}

.inputAskingChoices{
    margin: 5px auto;
    border-bottom: 1px solid black;
    padding: 10px;
}

#podklad
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 2000px;
	background-image: url("sedive.png");
	background-color: transparent;
	z-index: 8;
        display: block;
}

.rule { clear: left;  position: relative; top: 10px}

ARElement { height: 50px !important; }

/* Joomla styly */
.rt-container
{
	width: 100% !important;
}

