ol.a {
	list-style: lower-alpha;
}

ol li.shared {
	font-style: italic;
}

ol li.non-shared {
	font-weight: bold;
}

li dl {
	margin-left: 25px;
}

body {
	font-size: 11px;
	color: black;
	font-family: Verdana, Arial;
}

h1, h2 {
	color: #800000;
	text-decoration: underline;
}

h1 {
	font-size: 20px;
	text-align: center;
	text-decoration: underline;
}

h2 {
	font-size: 15px;
	cursor: pointer;
}

p {
	margin-left: 20px;
}

p.withsymbols {
	line-height: 2em;
}

h3 {
	font-size: 11px;
	font-weight: bold;
}

.symbol {
	font-size: 15px;
	font-weight:bold;
}

p.image
{
	text-align: center;
}

table {
	margin: auto;
}

#header span {
	color: #c0c0c0;
}

#classes {
	margin-left: 10%;
	line-height: 1.3em;
}

#references {
	list-style-type: decimal;
}

#content {
	width: 74%;
	margin: auto;
}

.console {
}

form.reg,
form.import,
form.tasks,
form.cancel,
form.export {
	display: none;
}

.console fieldset, .console fieldset.output {
	float: left;
	border: none;
	margin: 0;
	padding: 0;
	width: 49%;
	padding-bottom: 10px;
}

.console fieldset fieldset {
	float: none;
}

.console fieldset legend {
	font-weight: bold;
	margin-bottom: 3px;
}

.console fieldset.id {
	width: 100%;
}

.console fieldset.id input {
	border: 1px solid #ccc;
}

form.console.credentials fieldset {
	width: 100%;
}

form.console.credentials fieldset label {
	margin-left: 5px
}

form.console.reg fieldset input,
form.console.reg fieldset select {
	border: 1px solid #ccc;
	display: block;
}

form.console.reg fieldset label {
	width: 110px;
	display: block;
	float: left;
	margin-left: 5px
}

.console fieldset.output {
	padding-left: 2%;
}

.console fieldset textarea {
	width: 100%;
	padding: 0;
	resize: vertical;
	border: 1px solid #ccc;
}

.console fieldset textarea.failure {
	color: red;
}

.console fieldset textarea.success {
	color: green;
}

.console div.buttons {
	margin: 10px auto;
	text-align: center;
	clear: both;
}

.console div.buttons button {
	border: 1px solid #000;
	background-color: #ccc;
}